# Node dependencies
node_modules/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders (for React or Next.js)
dist/
build/
.next/

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Upload folders (if dynamically created)
public/uploads/
